footer {
    position: absolute;
    top: 92%;
    left: 30%;
    right: 30%;
}

button {
    background-color: #ffd883;
    border: none;
    height: 2.8em;
    width: 10.5em;
    font-weight: bold;
    border-radius: 0.5em;
    font-size: 1.3em;
}

button:hover {
    font-weight: bolder;
    letter-spacing: 0.1em;
}