ul {
    display: flex;
    /* flex-basis: 100%; */
    flex-wrap: nowrap;
}

ul li {
    /* background-color: brown; */
    display: flex;
    flex-basis: 50%;
    flex-grow: 1;
    flex-wrap: nowrap;
}
