@font-face {
    font-family: "DM-Sans";
    src: url("./font/DMSans.ttf");
  }

footer {
    position: absolute;
    bottom: 0%;
    left: 30%;
    right: 30%;
    color: white;
    font-family: "DM-Sans";
}