@font-face {
    font-family: "DM-Sans";
    src: url("../font/DMSans.ttf");
}

@font-face {
    font-family: "AgrandirWide";
    src: url("../font/Agrandir-Regular.otf");
}

body {
    text-align: center;
    color: white;
}

form {
    color: black;
}

body {
    background-image: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)), url('../images/background_connexion.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 10em;
}

main h1 {
    font-family: "AgrandirWide";
    font-weight: 500;
    font-size: 4em;
    font-style: normal;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-bottom: 0.1em;
}

main p {
    margin-bottom: 2em;
    margin-top: 0em;
}

.mail-form {
    margin: auto;
    background-color: white;
    padding-right: 5em;
    padding-left: 5em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 2em;
    width: 30em;
}

.mail-label {
    font-family: "AgrandirWide";
    font-size: 1.8em;
}

#mail_field {
    background-color: white;
    height: 38px;
    border: 0.1em solid black;
    border-radius: 1em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    font-size: 1em;
}

.mail-label,
#mail_field {
    flex-basis: 100%;
    flex-grow: 1;
}

#valider-bouton,
#retour-bouton {
    font-family: "DM-Sans";
    border: none;
    height: 2.5em;
    width: 8em;
    font-weight: bold;
    border-radius: 0.5em;
    font-size: 1.3em;
    padding: 0em;
}

#liensBoutons,
#valider-bouton {
    margin-top: 1em;
    margin-left: 0.5em;
    margin-right: 0.5em;
}

#valider-bouton {
    background-color: #a2dfd9;
}

#retour-bouton {
    background-color: #eb998f;
}

#valider-bouton:hover,
#retour-bouton:hover {
    cursor: pointer;
}

#valider-bouton:hover {
    background-color: #5ce1e6;
}

#retour-bouton:hover {
    background-color: #c67474;
}

main {
    margin-top: 4em;
}

.blockfield {
    display: flex;
    flex-wrap: wrap;
}