
@font-face {
    font-family: "AgrandirWide";
    src: url("./font/Agrandir-Regular.otf");
}

div>label {
    color : black;
    text-align: left;
    margin-left: 2rem;
}

body {
    margin-top: 9%;
    font-family: "AgrandirWide";
    color: white;
    background-image: linear-gradient(
        to bottom,
        rgba(42, 42, 42, 0.5),
        rgba(42, 42, 42, 0.5)), url("./images/background_connexion.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

h1 {
    font-family: "AgrandirWide";
    font-size: 6em;
    margin-bottom: 0.2em;
    text-align: center;
    
}

form {
    background-color: white;
    margin-left: 40rem;
    margin-right: 40rem;
    border-radius: 2rem;
    padding-bottom: 1rem;
    padding-top: 1rem;
    font-size: 2em;
}


div {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    text-align: left;
}


div>div {
    text-align: center;
}

button {
    background-color: #fbeba1;
    border-radius: 20px;
    border-color: #ffd883;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: "AgrandirWide";
    font-size: large;
    cursor: pointer;
    overflow: hidden;
    border: solid #ffd883;
    font-style:bold;
    font-size:x-large;
}

button:hover {
    background-color: #ffd883;
}

fieldset {
    font-size: large;
}

.error {
    color: red;
    font-size: medium;
}

input{
    border-radius: 3em;
    border: solid black;
    height: 3em;
    width: 30em;
    font-size: 0.5em;
    padding-left: 1em;
    padding-right: 1em;
}

.mdp{
    background-color: transparent;
    border: none;
}

.mdp:hover{
    background-color: transparent;
}

form{
    text-align: center;
}