
@font-face {
    font-family: "AgrandirWide";
    src: url("./font/Agrandir-Regular.otf");
}


body {
    margin-top: 9%;
    font-family: "AgrandirWide";
    background-image: linear-gradient(
        to bottom,
        rgba(32, 32, 32, 0.5),
        rgba(32, 32, 32, 0.5)), url("../images/background_consulation_Mat.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
div.content {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}
h1{
    color: white;
    margin-top: 0;
    margin: 0 0 0 0.5vh;
}

div.search{
    display: flex;
    flex-wrap: nowrap;
}

div.description{
    height: 50vh;
    padding: 1px;
    margin-bottom: 2vh;
    background-color: white;
    margin-left: 1rem;
    width: 50vw;
    border: none;
    border-radius: 9px;
}
div.description>form>h2{
    margin: 0.5vw 0px 0.5vw 1rem;
}
div.description>form>div.chiffre{
    display: flex;
    flex-wrap: wrap;
    margin: 1rem;
}

div.description>form>div.chiffre>label{
    display: inline;
    height: 5vh;
}

div.description>form>div.chiffre>label>input{
    margin: 0.0em 1em;
    border: hidden;
    min-width: 10vw;
}

div.description>form>div.textu{
    display: flex;
    flex-wrap: nowrap;
    margin: 1rem;
}

div.description>form>div.textu>p{
    margin-left: 1rem;
}

div.liste_mat{
    
    height: 50vh;
    width: 30vw;
    overflow: auto;
    background-color: white;
    border: 2px white solid;
    scroll-snap-type: y proximity;
    scrollbar-color: #EDF0F2;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
div.liste_mat h2{
    margin-left: 1rem;
    font-size: large;
}

div.liste_mat ul{
    padding: 0;
    margin: 0;
}

div.liste_mat ul li{
    list-style: none;
}

div.info {
    display: flex;
    flex-wrap: nowrap;
    margin: 1rem;
    max-height: 70vh;
    max-width: 8 0vw;
}

div.info img{
    width: 6em;
    height: 6em;
}

div.liste_mat::-webkit-scrollbar {
    scrollbar-gutter: both;
    width: 0.7em;
}

div.liste_mat::-webkit-scrollbar-thumb:hover{
    background-color: #ABABAB;
}

div.liste_mat::-webkit-scrollbar-thumb:active{
    background-color: grey;
}

div.liste_mat::-webkit-scrollbar-thumb {
    background: rgb(217, 217, 217);;
    border-radius: 8px;
}

#buttonModifier, #buttonSupp, #buttonImprimer, #buttonFDS{
    background-color: rgb(255, 216, 131);
    font-family: "AgrandirWide";
    font-size: 1em;
    margin-bottom: 0.2em;
    border-radius: 9px;
    padding: 10px 20px 10px 20px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

#buttonAdd{
    margin: 2vh 0;
    padding: 10px 10px;
    height: 5vh;
    width: 30vw;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-weight: bold;
    text-align: center;
}

div.button{
    margin-left: 1em;
    display: flex;
    justify-content: space-around;
}

div.item_mat {
    display: flex;
    flex-wrap: nowrap;
    margin: 1vh 1vw;
    align-items: center;
}

div.item_mat h2{
    cursor: pointer;
}

#Categorie, #Domaine{
    border-radius: 4px;
    border: none;
    font-size: 2vh;
    height: 5vh;
    width: 13vw;
    margin: 0 0.5vh;
}
div.recherche {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    max-height: 80vh;
    max-width: 80vw;
}

div.recherche>*{
    margin: 1vh;
}

#searchinput{
    width: 40vw;
    height: 5vh;
    border-radius: 4px;
    border: none;
}

#searchButton{
    background-color: rgb(255, 216, 131);
    font-family: "AgrandirWide";
    font-size: 2.5vh;
    margin-bottom: 0.2em;
    border-radius: 9px;
    padding: 10px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}
#Categorie>option, #Domaine>option{
    border-radius: 5px;
    border: none;
}

#search{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 72vw;
}

#search::placeholder{
    font-size: 1.2rem;
}