@font-face {
    font-family: "DM-Sans";
    src: url("../font/DMSans.ttf");
}

@font-face {
    font-family: "AgrandirWide";
    src: url("../font/Agrandir-Regular.otf");
}

body{
    background-image: linear-gradient(
        to bottom, 
        rgba(42, 42, 42, 0.5), 
        rgba(42, 42, 42, 0.5)), 
        url("../images/background_util.png");
    background-repeat: no-repeat;
    background-size: 100%;
    font-family: "AgrandirWide";
}

h1{
    font-family: "AgrandirWide";
    color: white;
    text-align: center;
    font-size: 3em;
}

section{
    font-family: "AgrandirWide";
}

section input{
    flex-basis: 45%;
    flex-grow: 1;
    font-family: "AgrandirWide";
    border-radius: 16px;
    font-size: 1em;
    padding: 0.5em;
}

select{
    font-family: "AgrandirWide";
    border-radius: 16px;
    font-size: 1em;
    padding: 0.5em;
}

.user_infos section > div{
    display: block;
    margin: 1.5em;
    align-items: center;
}

.user img{
    width: 6em;
    height: 6em;
}

.user_infos section {
    background-color: white;
    padding: 1em;
    margin: 1.5em;
    border-radius: 40px;
}

.user {
    height: 50vh;
    width: 20vw;
    overflow: auto;
    background-color: white;
    border: 2px white solid;
    scroll-snap-type: y proximity;
    scrollbar-color: #EDF0F2;
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}

.user_bouton {
    font-size: large;
}

.user section {
    border-radius: 40px;
}

.user input:focus {
    background-color: #EDF0F2;
}

.user::-webkit-scrollbar {
    width: 0.7em;
}

.user::-webkit-scrollbar-thumb:hover{
    background-color: #ABABAB;
}

.user::-webkit-scrollbar-thumb:active{
    background-color: grey;
}

.user::-webkit-scrollbar-thumb {
    background: rgb(217, 217, 217);;
    border-radius: 8px;
  }

div.user_item input{
    border: none;
    background-color: white;
    margin: 1em;
    padding: 1.5em;
}

div.main{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}

#save_button{
    background-color: rgb(255, 216, 131);
    font-family: "AgrandirWide";
    font-size: 1em;
    margin-bottom: 0.2em;
    border-radius: 25px;
    padding: 1em;
    border: none;
    cursor: pointer;
    font-weight: bold;
    display: block;
    margin: auto;
}

div.user_item{
    display: flex;
    text-align: center;
    align-items: center;
}

div.user_infos input{
    padding: 0.5em;
    margin: 0.5em;
}

label{
    font-weight: bold;
}

.droits_modif{
    display: block;
    text-align: center;
    padding: 1em;
}

.button_modify{
    text-align: center;
    align-items: center;
    padding: 1em;
}