ul {
    display: flex;
    flex-wrap: nowrap;
}

ul li {
    display: flex;
    flex-basis: 50%;
    flex-grow: 0;
    flex-wrap: nowrap;
}

img {
    flex-basis: 5%;
    flex-grow: 0;
}

ul li p {
    flex-basis: 60%;
    flex-grow: 0;
}
