@font-face {
    font-family: "DM-Sans";
    src: url("../font/DMSans.ttf");
  }

@font-face {
    font-family: "AgrandirWide";
    src: url("../font/Agrandir-Regular.otf");
}

body{
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),url('../images/background_prof.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 10em;
}

main h1{
    font-family: "AgrandirWide";
    font-weight: 500;
    font-size: 4em;
    font-style: normal;
    text-decoration: none;
    color: white;
    text-align: center;
}

.order-form {
    margin: auto;
    width: 45em;
    padding: 0.5em;
    background-color: white;
    padding-right: 5em;
    padding-left: 5em;
    padding-top: 2em;
    padding-bottom: 2em;
    border-radius: 2em;
    width: 30em;
}

.materiel-label, .quantity-label {
    font-family: "AgrandirWide";
    font-size: 1.8em;
}

#materiel_field, #quantity_field {
    background-color: white;
    height: 38px;
    border: 0.1em solid black;
    border-radius: 1em;
    padding-left: 0.8em;
    padding-right: 0.8em;
    font-size: 1em;
}

#materiel_field {
    width: 17.3em;
}

#quantity_field {
    width: 6em;
}

#commander_bouton {
    font-family: "DM-Sans";
    background-color: #ffd883;
    border: none;
    height: 2.8em;
    width: 10.5em;
    font-weight: bold;
    border-radius: 0.5em;
    font-size: 1.3em;
    padding: 0em;
    margin: auto;
}

#commander_bouton:hover {
    background-color: #edb742;
    cursor: pointer;
}

#block-bouton {
    margin-top: 2em;
}

main {
    margin-top: 4em;
}

.error {
    color: red;
    font-size: medium;
    min-height: 1.5em;
    margin: auto;
    font-weight: bold;
}
