.commands{
    max-width: 30em;
}

.commands button{
    margin-left: unset;
}

h2{
    margin: 1em;
    display: block;
}

.les_labels{
    margin-left: unset;
}

.materiel{
    padding: unset;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    min-height: 30em;
}

#myDiv{
    max-width: 20em;
}