@font-face {
    font-family: "AgrandirWide";
    src: url("../font/Agrandir-Regular.otf");
}

body{
    background-image: linear-gradient(
        to bottom,
        rgba(0,0,0,0.6),
        rgba(0,0,0,0.6)
    ),url('../images/background_prof.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    margin-top: 10em;
}

main {
    text-align: center;
    margin-top: 4em;
}

#bjr-prof{
    font-family: "AgrandirWide";
    font-weight: 500;
    font-size: 6em;
    font-style: normal;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}

#btn-navi{
    font-family: "AgrandirWide";
    border-radius: 1.3em;
    margin: 1.3em;
    font-style: normal;
    font-weight: 500;
    font-size: 1.3em;
    display: inline-flex;
    align-items: center;
    padding: 1.3em;
    border: none;
}

#btn-navi img{
    height: 1.9em;
    margin: 0.6em;
}

.nom-util{
    color: #FBEBA1;
}

main ul {
    margin: auto;
    width: 45em;
    padding: 0.5em;
    list-style: none;
}

h1 {
    margin-bottom: 0.2em;
}

main {
    margin-top: 4em;
}