{% extends "consul_base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/home_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home_pos.css') }}">
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
<h1 id="bjr-prof">BONJOUR <span class="nom-util">{{ current_user.nomUti }}</span> !</h1>
{% else %}
<h1 id="bjr-prof">BONJOUR !</h1>
{% endif %}
<ul>
    <li><a href="{{ url_for('admin_manage') }}"><button id="btn-navi"><img
                    src="{{ url_for('static', filename='images/voir_commandes_icon.png') }}"
                    alt="Icone voir tous les utilisateurs">Gérer les
                <br>utilisateurs</button></a></li>
    <li><a href="{{ url_for('admin_add') }}"><button id="btn-navi"><img
                    src="{{ url_for('static', filename='images/commander_icon.png') }}" alt="Icone ajouter utilisateur">Ajouter un
                <br>utilisateur</button></a></li>
</ul>
{% endblock %}