{% extends "consul_base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/bug.css') }}">
{% endblock %}
{% block content %}
<h1>Mot de passe oublié</h1>
<form class="mail-form" role="form" method="POST" action="">
    <div class="blockfield">
        <label for="mail-field" class="mail-label">{{ form.mail_field.label }}</label>
        {{ form.mail_field(class="form-control") }}
    </div>
    <input type="submit" id="valider-bouton" value="Valider" />
</form>
{% endblock %}