<!doctype html>
<html lang="fr">

<head>
    {% block head %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% endblock %}
    {% block styles %}
    {% endblock %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/nav_base.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='images/faviconMICRO.ico')}}">
    <title>Gest-LAB</title>
</head>

<body>
    <header>
        <div class="navigation">
            <nav class="navbar">
                <ul>
                    <li>
                        <p class="Logo">GEST<span class="yellow-part">LAB</span></p>
                    </li>
                    {% if current_user.is_authenticated %}
                    {% if current_user.is_admin() %}
                    <li><a href="{{ url_for('admin_manage') }}">Gérer les utilisateurs</a></li>
                    <li><a href="{{ url_for('admin_add') }}">Ajouter un utilisateur</a></li>
                    {% elif current_user.is_prof() %}
                    <li><a href="{{ url_for('consult') }}">Consulter le matériel</a></li>
                    <li><a href="{{ url_for('delivery') }}">Voir les commandes</a></li>
                    <li><a href="{{ url_for('new_commande') }}">Commander matériel</a></li>

                    <!-- <li id="notifLi"><button id="notifButton"><img src="{{ url_for('static', filename='images/notifications.png') }}" alt="Icone notifications" id="img-notifs"></button></li> -->
                    
                    {% elif current_user.is_etablissement() %}
                    <li><a href="{{ url_for('consult') }}">Consulter le matériel</a></li>
                    <li><a href="{{ url_for('delivery') }}">Gérer les commandes</a></li>

                    <!-- <li id="notifLi"><button id="notifButton"><img src="{{ url_for('static', filename='images/notifications.png') }}" alt="Icone notifications" id="img-notifs"></button></li> -->
                    
                    {% endif %}
                    <li>
                      <span>
                        <div class="popup" onclick="gestionNotifs()">
                          <button id="notifButton">
                            <img src="{{ url_for('static', filename='images/notifications.png') }}" alt="Icone notifications" id="img-notifs">
                          </button>
                          <div class="popuptext" id="myPopup">Aucune nouvelle notification.</div>
                        </div>
                        <button id="logoutButton">Déconnexion</button>
                      </span>
                    </li>
                    {% else %}
                    <li><button id="BackButton">Retour accueil</button></li>
                    {% endif %}
                    <!-- prof & ecole -->
                </ul>
            </nav>
            <div class="horizontal-line"></div>
        </div>
    </header>
    <main>
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </main>
    <footer>
        <p>© 2023-2024 GESTLAB.</p>
    </footer>
    {% block scripts %}
    {% endblock %}

    <script>
        var ButtonBack = document.getElementById("BackButton");
        var ButtonLogout = document.getElementById("logoutButton");

        function gestionNotifs() {
            var popup = document.getElementById("myPopup");
            popup.classList.toggle("show");
        }

        if (ButtonBack) {
            ButtonBack.addEventListener("click", function () {
                window.location.href = "{{ url_for('home') }}";
            });
        }
        if (ButtonLogout) {
            ButtonLogout.addEventListener("click", function () {
                window.location.href = "{{ url_for('logout') }}";
            });
        }
    </script>
</body>

</html>