{% extends "consul_base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/consultation.css') }}">
{% endblock %}
{% block content %}
{% if current_user.is_authenticated %}
{% if current_user.is_prof %}
<h1>Consulter le matériel</h1>
<form id="search" action="recherche" role="search" method="post">
    <input type="search" name="search" id="searchinput" placeholder="Rechercher un matériel ..." oninput="change()">
    <select name="Domaine" id="Domaine" onchange="change()">
        <option value="">Domaine</option>
        {% for domaine in domaines %}
        <option value="{{ domaine.code }}">{{ domaine.nom }}</option>
        {% endfor %}
    </select>
    <select name="Catégorie" id="Categorie" onchange="change()">
        <option value="">Categorie</option>
        {% for categorie in categories %}
        <option value="{{ categorie.code }}">{{ categorie.nom }}</option>
        {% endfor %}
    </select>
    <button type="reset" id="searchButton">reset</button>
    <!-- recherche pas fonctionnel -->
</form>
<div class="info">
    <div>
        <div class="liste_mat">
            <ul id="materielsList">
                {% for materiel in materiels %}
                <li>
                    <div class="item_mat">
                        <img src="data:image/png;base64,{{ materiel.get_image() }}" alt="{{ materiel.nom }}">
                        <h2 id="{{ materiel.reference }}" onclick="edit(this.id)">{{ materiel.nom }}</h2>
                    </div>
                </li>
                {% endfor %}
            </ul>
        </div>
        <div>
            {% if current_user.modifications == True %}
            <button id="buttonAdd" type="button">Ajouter du Materiel</button>
            {% endif %}
        </div>
    </div>
    <div>
        <div class="description">
            <h2 id="nom">{{ current_mat.nom }}</h2>
            <div class="chiffre">
                <label id="domaine">Domaine : {{ current_mat.domaine.nom }}</label>
                <label id="categorie">Categorie : {{ current_mat.categorie.nom }}</label>
                <label id="reference">Reference : {{ current_mat.reference }}</label>
                {% if current_mat.domaine.nom == "Produits Chimiques" %}
                <label id="quantiteR">Quantité restante : {{ current_mat.quantite_restante }}</label>
                {% endif %}
                <label id="quantiteT">Quantité totale : {{ current_mat.quantite_globale }}</label>
            </div>
            <div class="textu">
                <img id="image" src="data:image/png;base64,{{ current_mat.get_image() }}" alt="{{ current_mat.nom }}">
                <p id="complements">{{ current_mat.complements }}</p>
            </div>
        </div>
        <div class="button">
            {% if current_user.modifications == True %}
            <button id="buttonModifier">Modifier</button>
            <button id="buttonSupp">Supprimer</button>
            {% endif %}
            <button id="buttonImprimer">Imprimer</button>
            <button id="buttonFDS">Voir FDS</button>
        </div>
    </div>
</div>
<script>

    function change() {
        const searchQuery = document.getElementById('searchinput').value;
        const selectedDomaine = document.getElementById('Domaine').value;
        const selectedCategorie = document.getElementById('Categorie').value;
        
        const optionC = document.createElement('option');
        optionC.value = "";
        optionC.textContent = "Catégorie";

        fetch(`/get_categories?domaine=${selectedDomaine}`)
            .then(response => response.json())
            .then(data => {
                dataCategories = data.categories;
                const CatList = document.getElementById('Categorie');
                CatList.innerHTML = "";

                CatList.appendChild(optionC);
                dataCategories.forEach(categorie => {
                    const option = document.createElement('option');
                    option.value = categorie.codeC;
                    option.textContent = categorie.nom;
                    if (option.value == selectedCategorie) {
                        option.selected = true;
                    }
                    CatList.appendChild(option);
                });                
                ListeMateriauxMAJ();
            })
            .catch(error => console.error('Erreur : ' + error));
    }

    function ListeMateriauxMAJ() {
        const searchQuery = document.getElementById('searchinput').value;
        const selectedDomaine = document.getElementById('Domaine').value;
        const selectedCategorie = document.getElementById('Categorie').value;
        // Envoyer une requête Ajax pour mettre à jour la liste de matériaux
        fetch(`/consult/recherche?search=${searchQuery}&domaine=${selectedDomaine}&categorie=${selectedCategorie}`)
            .then(response => response.json())
            .then(data => {
                dataMateriels = data.materiels;
                const materielsList = document.getElementById('materielsList');
                materielsList.innerHTML = "";
                dataMateriels.forEach(material => {
                    const materialItem = document.createElement('li');

                    const div = document.createElement('div');
                    div.classList.add('item_mat');

                    const img = document.createElement('img');
                    img.src = "data:image/png;base64," + material.image;
                    img.alt = material.nom;
                    const h2 = document.createElement('h2');
                    h2.id = material.reference;
                    h2.onclick = function () { edit(this.id) };
                    h2.textContent = material.nom;

                    div.appendChild(img);
                    div.appendChild(h2);
                    materialItem.appendChild(div);
                    materielsList.appendChild(materialItem);
                });
            })
            .catch(error => console.error('Erreur : ' + error));
    }

    function edit(id) {
        var labelNom = document.getElementById("nom");
        var labelDomaine = document.getElementById("domaine");
        var labelCategorie = document.getElementById("categorie");
        var labelReference = document.getElementById("reference");
        var labelQuanR = document.getElementById("quantiteR");
        var labelQuanT = document.getElementById("quantiteT");
        var labelComplements = document.getElementById("complements");
        var labelImage = document.getElementById("image");


        fetch('/get_info_Materiel/' + id)
            .then(response => response.json())
            .then(data => {
                labelNom.textContent = data.nom;
                labelDomaine.textContent = "Domaine : " + data.domaine;
                labelCategorie.textContent = "Catégorie : " + data.categorie;
                labelQuanT.textContent = "Quantité totale : " + data.quantite_global;
                labelReference.textContent = "Reference : " + data.reference;
                if (labelQuanR) {
                    labelQuanR.textContent = "Quantité restante : " + data.quantite_restante;
                }
                labelComplements.textContent = data.complements;
                labelImage.src = "data:image/png;base64," + data.image;
                labelImage.alt = data.nom;

            })
            .catch(error => console.error('Erreur : ' + error));

    }
</script>
{% endif %}
{% endif %}
{% endblock %}