{% extends 'consul_base.html' %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/gerer_utilisateurs.css')}}">
<script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
{% endblock %}

{% block scripts %}
<script src="{{url_for('static', filename='JavaScript/gerer_utilisateurs.js')}}"></script>
{% endblock %}

{% block content %}
<h1>Gérer les utilisateurs</h1>
<div class="main">
    <div class="user">
        <section>
            {% for user in liste_users %}
            <div class="user_item">
                <img src="{{ url_for('static', filename='images/user.png') }}" alt="Un utilisateur">
                <input type="button" value="{{ user.nomUti }} {{ user.prenomUti }}" class="user_bouton" id="{{ user.idUti }}"
                    onclick="edit(this.id)" autofocus>
            </div>
            {% endfor %}
        </section>
    </div>
    <form action="{{ url_for('update_user') }}" role="form" method="POST" class="user_infos">
        <section class="wrapper">
            <input type="hidden" value="{{ current_user_selected.idUti }}" name="id" id="id">
            <input type="hidden" value="{{ current_user_selected.email }}" name="email" id="email">
            <label class="nom" for="nom">Nom :</label>
            <input class="nom_input" name="nom" id="nom" type="text" value="{{ current_user_selected.nomUti }}">
            <label class="prenom" for="prenom">Prénom :</label>
            <input class ="prenom_input" name="prenom" id="prenom" type="text" value="{{ current_user_selected.prenomUti }}">
            <label class="passwd" for="password">Mot de passe :</label>
            <input class ="passwd_input" name="password" id="password" type="password" value="{{ current_user_selected.mdp }}">
            <label class="role" for="role-select">Rôle :</label>
            <select name="id_role" id="id_role">
                {% for role in roles %}
                {% if current_user_selected.idRole == role.idRole %}
                <option value="{{ role.idRole }}" selected>{{ role.intitule }}</option>
                {% else %}
                <option value="{{ role.idRole }}">{{ role.intitule }}</option>
                {% endif %}
                {% endfor %}
            </select>
            <label class="droits_modif" for="modifications">Droits de modification</label>
            <div class="button_modify">
                {% if current_user_selected.modifications == True %}
                <input type="radio" name="modifications" id="yes_choice" value="True" checked>
                <label for="yes_choice">Oui</label>
                <input type="radio" name="modifications" id="no_choice" value="False">
                <label for="no_choice">Non</label>
                {% else %}
                <input type="radio" name="modifications" id="yes_choice" value="True">
                <label for="yes_choice">Oui</label>
                <input type="radio" name="modifications" id="no_choice" value="False" checked>
                <label for="no_choice">Non</label>
                {% endif %}
            </div>
            <button type="submit" id="save_button" onclick="sendEmail()">Enregistrer</button>
        </section>
    </form>
</div>
{% endblock %}