{% extends "consul_base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/gerer_commandes.css') }}">
{% endblock %}
{% block scripts %}
<script src="{{url_for('static', filename='JavaScript/commandes.js')}}"></script>
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}
{% if current_user.is_etablissement() or current_user.is_prof() %}
    {% if current_user.is_etablissement() %}
        <h1>Gérer les commandes</h1>
    {% else %}
        <h1>Voir les commandes</h1>
    {% endif %}
    <section class="search_buttons">
        <input type="search" name="recherche" id="recherche" placeholder="Rechercher">
        <select name="domaine" id="domaine-select">
            <option id="domaine" value="">-- Domaine --</option>
            {% for domaine in liste_domaines %}
                <option id="domaineOption" value="{{ domaine.codeD }}">{{ domaine.nomD }}</option>
            {% endfor %}
        </select>
        <select name="categorie" id="categorie-select">
            <option id="categorie" value="">-- Categorie --</option>
        </select>
        <select name="statut" id="statut-select"">
            <option id="statut" value="">-- Statut --</option>
            {% for statut in liste_statuts %}
                <option id="statut" value="{{ statut.idStatut }}">{{ statut.nomStatut }}</option>
            {% endfor %}
        </select>
        <button id="btn-reset" name="btn-reset" value="reset" class="yellow-button">Reset</button>
    </section>
    <section class="commands">
        <ul id="liste">
            {% for command in liste_commandes %}
                <li>
                    <button id="{{ command.numeroCommande }}" class="command_button">
                        <img src="data:image/png;base64,{{ command.materiel.get_image() }}" alt="image commande" class="img">
                        <p>{{ command.materiel.nomMateriel }}</p>
                    </button>
                </li>
            {% endfor %}
        </ul>
    </section>
    <section class="right">
        <div class="materiel">
            <h2><p id="nom"></p></h2>
            <img src="{{ url_for('static', filename='images/black_square.png') }}" alt="image commande">
            <div class="les_labels">
                <p for="numero" id="label-numero"></p>
                <p for="statut" id="label-statut"></p>
                <p for="domaine" id="label-domaine"></p>
                <p for="categorie" id="label-categorie"></p>
                <p for="quantite" id="quantite"></p>
                <p for="user" id="user"></p>
            </div>
        </div>
        <div class="action_buttons">
            <input type="button" class="yellow-button" id="imprimer" value="Imprimer" onclick='imprimer()'>
            {% if current_user.is_etablissement() %}
                <input type="button" class="annuler" id="annuler" value="Annuler la commande">
                <input type="button" class="valider" id="valider" value="Valider la commande">
            {% endif %}
        </div>
    </section>
{% endif %}
{% endif %}
{% endblock %}
