<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>GESTLAB</title>
    <link rel="stylesheet" href="../static/home_style.css">
    <link rel="stylesheet" href="../static/home_pos.css">
  </head>
  <body>
    <header>
      <h1>GEST<span class="h1-yellow-part">LAB</span></h1>
    </header>
    <main>
      <section>
        <ul>
          <li><img class="img-home" src="../static/images/school_icon.png" alt="Icone de l'école"><p>Lycée François Villon</p></li>
          <li><img class="img-home" src="../static/images/location_icon.png" alt="Icone de localisation"><p>Beaugency</p></li>
        </ul>
        <button type="button">Connexion</button>
      </section>
    </main>
    <footer>
      <p>© 2023-2024 Gestlab.</p>
    </footer>
  </body>
</html>