{% extends 'base.html' %}
{% block styles %}
{{ super() }}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}">
{% endblock %}
{% block header %}
      <h1>GEST<span class="h1-yellow-part">LAB</span></h1>
{% endblock %}
{% block content %}
        <ul>
          <li><a href="{{ url_for('login') }}"><img class="img-home" src="{{ url_for('static', filename='images/school_icon.png') }}" alt="Icone de l'école"><p>Lycée François Villon</p></a></li>
          <li><img class="img-home" src="{{ url_for('static', filename='images/location_icon.png') }}" alt="Icone de localisation"><p>Beaugency</p></li>
        </ul>
        <button id="loginbutton" type="button">Connexion</button>
{% endblock %}
{% block scripts %}
{{ super() }}
    <script>
        var ButtonLogin = document.getElementById("loginbutton");
        if (ButtonLogin) {
            ButtonLogin.addEventListener("click", function () {
                window.location.href = "{{ url_for('login') }}";
            });
        }
    </script>
{% endblock %}