{% extends "consul_base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/lostpassword.css') }}">
{% endblock %}
{% block content %}
<h1>Mot de passe oublié ?</h1>
<p>Entrez votre adresse mail pour pouvoir réinitialiser votre mot de passe.</p>
<form class="mail-form" role="form" method="POST" action="">
    <div class="blockfield">
        <label for="mail-field" class="mail-label">{{ form.mail_field.label }}</label>
        {{ form.mail_field(class="form-control") }}
    </div>
    <div class="blockbuttons">
        <a href="{{ url_for('login') }}" id="liensBoutons"><input type="button" id="retour-bouton" value="Retour" /></a>
        <input type="submit" id="valider-bouton" value="Valider" />
    </div>
</form>
{% endblock %}