{% extends "consul_base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/new_commande_style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/home_pos.css') }}">
<link rel="stylesheet" href="/static/css/gerer_commandes.css">
<link rel="stylesheet" href="{{ url_for('static', filename='css/notifications.css') }}">

{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{url_for('static', filename='JavaScript/commandes.js')}}"></script>
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
{% endblock %}
{% block content %}
    <section class="commands">
    <ul id="liste">
    {% for i in range(nb) %}
    {% set a = alertes[i] %}
        <li>
        {% if instances[i].idAlerteQ %}
            <button id="{{ instances[i].idAlerteQ }}" class="command_button" onclick="edit_notif({{ instances[i].idAlerteQ }},{{ instances[i].refMateriel }}, 'quantite')">
        {% elif instances[i].idAlerteS %}
            <button id="{{ instances[i].idAlerteS }}" class="command_button" onclick="edit_notif({{ instances[i].idAlerteS }},{{ instances[i].idMateriel }}, 'seuil')">
        {% endif %}
        <p>{{ a }}</p>
        </button>
        </li>
    {% endfor %}
    </ul>
    </section>
    <section class="right">
        <div class="materiel">
            <div class="les_labels">
                <h2><label for="titre" id="label-titre"></label></h2>
                <label for="nom" id="label-nom"></label>
                <label for="commentaire" id="label-commentaire"></label>
                <label for="qteMax" id="label-qtemax"></label>
                <label for="seuilQte" id="label-seuilqte"></label>
                <label for="qteMateriel" id="label-qtemateriel"></label>
                <label for="qteRes" id="label-qteres"></label>
                <label for="dateP" id="label-datep"></label>
            </div>
            <div id='myDiv'></div>
        </div>
        <div class="action_buttons">
            <a id="new_commande"><button class="commander" id="commander">Commander le materiel</button></a>
        </div>
    </section>

    <div>
{% endblock %}