{% extends "base.html" %}
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/prof.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/prof-pos.css') }}">
{% endblock %}
{% block header %}
  <h1 id="bjr-prof">Bonjour <span class="nom-util">(nom prof)</span> !</h1>
{% endblock %}
{% block content %}
  <ul>
    <li><a href=""><button id="btn-navi"><img src="{{ url_for('static', filename='images/voir_commandes_icon.png') }}">Voir les</br>commandes</button></a></li>
    <li><a href=""><button id="btn-navi"><img src="{{ url_for('static', filename='images/commander_icon.png') }}">Commander</br>matériel</button></a></li>
    <li><a href=""><button id="btn-navi"><img src="{{ url_for('static', filename='images/voir_materiel_icon.png') }}">Consulter le</br>matériel</button></a></li>
  </ul>
{% endblock %}