{% extends "consul_base.html" %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='../static/css/lostpassword.css') }}">
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js">
</script>
<script src="{{url_for('static', filename='JavaScript/reinitialisation_mdp.js')}}"></script>
{% endblock %}

{% block content %}
<h1>Réinitialiser votre mot de passe</h1>
<p>Entrez votre mot de passe :</p>
<form class="mail-form" role="form" method="POST" action="{{ url_for('reinitialisation_mdp_update') }}">
    <div class="blockfield">
        <label for="email-field" class="mail-label">{{ form.email_field.label }}</label>
        {{ form.email_field(class="form-control", value=default) }}

        <label for="password-field" class="mail-label">{{ form.password_field.label }}</label>
        {{ form.password_field(class="form-control", value=default) }}

        <label for="confirm-pass-field" class="mail-label">{{ form.confirm_password.label }}</label>
        {{ form.confirm_password(class="form-control", value=default) }}
    </div>
    <div class="blockbuttons">
        <a href="{{ url_for('login') }}" id="liensBoutons"><input type="button" id="retour-bouton" value="Retour" /></a>
        <input type="submit" id="valider-bouton" value="Valider">
    </div>
</form>
{% for mesg in get_flashed_messages() %}
{% if mesg == "Utilisateur inconnu !" %}
<dialog id="redDial" open>
    <p>{{ mesg }}</p>
    <form method="dialog" id="form-dialog">
        <button id="redDialButton">OK</button>
    </form>
</dialog>
{% else %}
<script type="text/javascript">
    sendEmail();
</script>
<dialog id="greenDial" open>
    <p>{{ mesg }}</p>
    <form method="dialog" id="form-dialog">
        <button id="greenDialButton">OK</button>
    </form>
</dialog>
{% endif %}
{% endfor %}
{% endblock %}